.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
#Apps {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
#Games {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
#Chatbot {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
body {
    text-align: center;
}